@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap'); */

body, h1, h2, h3, p, span, li, ol, div {
  font-family: "Pangolin", cursive !important; 
  /* font-family: "Schoolbell", cursive; */
}
/*-- scss:rules --*/
.caption, figcaption {
    text-align: center;
}

/* 1. Make all fragments visible but dimmed (30% opacity) by default */
.reveal .slides section .fragment {
  opacity: 0.1;
  visibility: inherit;
}

/* 2. Make the current or already-passed fragments fully opaque */
.reveal .slides section .fragment.visible {
  opacity: 1;
}

h2 {
    font-size: 1.5em!important;
}

green {
    color: #3be57f!important;
}
gray {
    color: gray!important;
}

red {
    color: #bb473f!important; 
}
.subtitle {
    font-style: italic;
}
h1 .title{
    font-size: 0.6em!important;
}
#refs {
    font-size: 1em!important;
}

input {
    background-color: transparent!important;
    border: none!important;
}


input[type="range"] {
   width: 100%!important;
}
input[type="number"] {
    font-family: monospace!important;
    font-size: 0.5em!important;
    width: 10%!important;
    overflow: hidden;
    display: none;
} 
.callout {
    font-size: 1em!important;
}
/* form {
    width: 100%!important;
}
form label {
    width: 20%!important;
}
.btn {
    outline: none;
    background-color: transparent!important;
}
 */.theorem {
    font-style: italic;
    border: 1px solid #3be57f;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.theorem .theorem-title {
    font-style: normal;
}
.panel-sidebar {
    width: 17%!important;
}